<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>491444741215-lvuv0tki53q011h5dnshs3hibn35l6qm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.491444741215-lvuv0tki53q011h5dnshs3hibn35l6qm</string>
	<key>API_KEY</key>
	<string>AIzaSyBt4XQWNwB0fcuUXgLLtRXuuYlwIBCCooE</string>
	<key>GCM_SENDER_ID</key>
	<string>491444741215</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.testdomain.demoTinderApp</string>
	<key>PROJECT_ID</key>
	<string>politiciantinder</string>
	<key>STORAGE_BUCKET</key>
	<string>politiciantinder.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:491444741215:ios:bcdbb5b9d87f7a1c</string>
	<key>DATABASE_URL</key>
	<string>https://politiciantinder.firebaseio.com</string>
</dict>
</plist>